doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Taxi-Booking App
    style
  body 
    h1 Welcome to taxi-booking app 
    p With this app, you can book a taxi from one place to another

  block content

  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")